.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    color: #FFFFFF;
    font-family: "Bungee Inline", cursive;
  }

  #titleContent{
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(211,211,211, 1);
    color: Black;
    padding: 1em;
  }

  h1 {
    color:white;
    text-align: center;
}

body {
    margin:0;
    background-color: rgb(26, 26, 26);
    font-family: 'Segoe UI', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }